In [ ]:
import io
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**1.데이터 로드**

In [ ]:
fusion = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/_fusion__202301081525.csv')
bake = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/bake_202301081525.csv')
bunsic = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/bunsic_202301081525.csv')
ch = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/ch_202301081525.csv')
jp = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/jp_202301081525.csv')
coffe = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/coffe_202301081525.csv')
dessert = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/dessert_202301081525.csv')
meat = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/meat_202301081525.csv')
rice = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/rice_202301081524.csv')
fast = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/fast_202301081525.csv')
chicken = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/chicken_202301081645.csv')

**2.데이터 정제**


1.   foodtype 간결화 : foodtype 안의 데이터를 간결하고 직관적으로 바꿈 먼저 allData로 합치고 바꿔도 되는데 여기서는 따로 바꿈

In [ ]:
Nfusion = fusion.replace({'foodtype':"퓨전음식)"},'퓨전음식')
Nfusion = Nfusion.drop_duplicates()

Nbake = bake.replace({'foodtype':"아이스크림/도넛)"},'베이커리')
Nbake = Nbake.replace({'foodtype':"제과/베이커리)"},'베이커리')
Nbake = Nbake.drop_duplicates()

Nbunsic = bunsic.replace({'foodtype':"김밥/떡볶이/분식류)"},'분식')
Nbunsic = Nbunsic.drop_duplicates()

Nch = ch.replace({'foodtype':"중식/일식)"},'중식')
Nch = Nch.drop_duplicates()

Njp = jp.replace({'foodtype':"돈까스/우동/카레)"},'일식')
Njp = Njp.drop_duplicates()

Ncoffe = coffe.replace({'foodtype':"커피전문점/대형커피)"},'커피')
Ncoffe = Ncoffe.drop_duplicates()

Ndessert = dessert.replace({'foodtype':"디저트/브런치/샐러드)"},'디저트')
Ndessert = Ndessert.drop_duplicates()

Nmeat = meat.replace({'foodtype':"고기전문점)"},'고기')
Nmeat = Nmeat.replace({'foodtype':"족발/보쌈/곱창)"},'고기')
Nmeat = Nmeat.drop_duplicates()

Nrice = rice.replace({'foodtype':"죽/도시락/비빔밥)"},'한식')
Nrice = Nrice.drop_duplicates()

Nfast = fast.replace({'foodtype':"패스트푸드/피자)"},'패스트푸드')
Nfast = Nfast.drop_duplicates()

Nchicken = chicken.replace({'foodtype':"프 (치킨전문점)"},'치킨')
Nchicken = Nchicken.drop_duplicates()

위의 과정을 겪은 각각의 다른 종류의 음식테이블을 하나의 allData 데이터프레임으로합침

In [ ]:
allData = pd.concat([Nfusion,Nbake,Nbunsic,Nch,Njp,Ncoffe,Ndessert,Nmeat,Nrice,Nfast,Nchicken])

In [ ]:
allData = allData.reset_index()
allData = allData.drop('index',axis = 1)

In [ ]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1235 non-null   int64
 1   foodtype       1235 non-null   object
 2   locate         1235 non-null   object
 3   size           1235 non-null   object
 4   expectedmoney  1235 non-null   object
 5   capital        1235 non-null   object
 6   phonenum       1235 non-null   object
 7   pcname         1235 non-null   object
dtypes: int64(1), object(7)
memory usage: 77.3+ KB

In [ ]:
allData.sample(n=20)

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
390,714920,분식,부평구,50㎡이하,450 만원,5천 만,010-7777-5379,【부평 배떡】 총 창업비용 5000만 ♥ 오토운영 ♥ 너무 바빠서 포기한 매장 ♥
303,711002,분식,고양시,50㎡이상 ~ 100㎡이하,760 만원,4천5백 만원,010-4667-9206,일산♥신전떡볶이 급 창업비용♥수익850만♥여자창업/남자소자본창업아이템/창업종류
746,723365,디저트,중구,50㎡이하,930 만원,2억,010-3936-3366,[서울종로/중구 코코호도] 안정적인 아이템 초보창업 여성/시니어 창업
808,721627,고기,송파구,100㎡이상 ~ 200㎡이하,"2,000 만원",1억5천 만원,010-8883-0218,방이★대한곱창창업★대한곱창창업비용/수익2000만/부부창업추천/고수익창업/관리형창업
633,598010,커피,인천,100㎡이상 ~ 200㎡이하,담당자 문의,6천 만원,010-2100-1890,[인천논현 메인]투썸플레이스 창업비용/순익850만/초보창업여성창업직장인창업
914,722154,한식,경기,50㎡이상 ~ 100㎡이하,"1,060 만원",1억5천 만,010-4180-9905,▣경기남부▣ 본죽&비빔밥【순익 1000만원】【프랜차이즈】【안정성창업】【시니어창업】
574,717730,커피,인천,50㎡이하,"1,195 만원",2억7천 만,010-5717-4817,【BEST풀오토】《인천부천메가커피숍창업》순익1000만/남자여자직장인부업프랜차이즈
890,710913,한식,금천구,100㎡이상 ~ 200㎡이하,850 만원,1억4천 만,010-4667-9206,가산♥본죽 급 식당창업♥수익850만♥은퇴창업/고수익창업/유망창업아이템/소자본창업
934,704251,한식,마포구,50㎡이상 ~ 100㎡이하,"1,600 만원",1억5천 만원,010-8883-0218,★마포★본죽비빔밥창업★본죽비빔밥창업비용/여성창업/투잡창업/고수익창업/부부창업추천
789,721093,고기,영등포구,100㎡이상 ~ 200㎡이하,"2,450 만원",2억8천 만,010-7488-1560,★실제매장★ 새마을식당 리얼고수익 초보창업추천
706,722556,디저트,평택시,100㎡이상 ~ 200㎡이하,"1,700 만원",1억5천 만원,010-7446-0422,★이달의추천매장★써브웨이창업 상위1% 천안시에서 가장좋은 매장
1081,712639,패스트푸드,노원구,50㎡이상 ~ 100㎡이하,담당자 문의,8천 만원,010-4061-9473,▒프랭크버거 창업▒『은평구』순1000만/은퇴창업/추천창업/부부창업/인기창업/초보창
835,605438,고기,서울,50㎡이상 ~ 100㎡이하,"2,400 만원",3억5천 만,010-2007-0204,★★ 매출1억 족발야시장 ★★ #월수익2000 #고수익창업 #투잡창업 #부부창업
654,722226,디저트,구리시,50㎡이하,"1,150 만원",2억3천 만,010-6404-8779,브런치 카페 월매출 5500만원 월수익1200 여성창업 투잡창업
1032,647646,패스트푸드,강동구,50㎡이상 ~ 100㎡이하,"1,200 만원",2억,010-9991-2210,♥강동♥ 맘스터치창업비용 2억 ♥월수익 1200만 ♥ 고매출매장 ♥
783,717868,고기,은평구,50㎡이상 ~ 100㎡이하,담당자 문의,9천 만,010-4061-9473,▒원조부안집창업▒『은평구』순800만 청년창업/추천창업/여성창업/음식점창업/배달창업
753,723591,고기,경기,100㎡이상 ~ 200㎡이하,"1,210 만원",1억5천 만원,010-6306-4426,▣경기▣ 하남돼지집【순익 1200만원】【프랜차이즈】【음식점창업】【하남돼지집창업】
298,721740,분식,고양시,50㎡이하,950 만원,1억5천 만,010-5763-7718,《고양시》고봉민김밥 / 순익 900만원이상 / 여성창업 / 부부창업
799,722534,고기,서울,50㎡이상 ~ 100㎡이하,"1,350 만원",1억5천 만원,010-7446-0422,★이달의추천매장★진1926창업 송파구에서 양갈비고기집 상위1% 매장
372,723066,분식,경기,50㎡이하,"1,030 만원",7천 만원,010-7759-4586,☎서울경기서쪽☎ 배떡 창업비용 7천 ＃고수익 수익성 초보 오토



2.   예상수익(expectedmoney), 초기자본(capital) 컬럼 변환 : 한글로 적힌 돈을 숫자로 변환 (만원단위) <br/> ✅ *captial 컬럼의 돈이 자기 마음대로 적혀있음*  <br/> ex) 2억, 1억5천만, 9천만원, 16천 5백만, 7천 5백만원 
:

In [ ]:
allData['expectedmoney']= allData.expectedmoney.str.replace('담당자 문의','0')  #astype로 int로 바꾸기 위해 일단 0으로 
allData['expectedmoney']= allData.expectedmoney.str.replace('만원','')          #만원단위로 변경

In [ ]:
allData['capital']= allData.capital.str.replace('원','')                        #원은 필요없음

In [ ]:
allData.sample(n=20)

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
263,722582,베이커리,서울,50㎡이하,705,1억,010-4513-3787,귀한 매장 최신 인테리어 ▶ 이삭토스트 양도양수 창업 추천
117,590980,베이커리,서울,50㎡이상 ~ 100㎡이하,0,2억5천 만,010-8563-0721,♥특급 배스킨 라빈스♥→[오토 수익 700만]초보 안정성 창업 부업 투자
816,678223,고기,부평구,50㎡이하,0,1억7천 만,010-7333-1029,◈인천◈원할머니보쌈족발◈월순익1100◈초보창업 부부창업 수익성 창업
1017,707366,패스트푸드,도봉구,50㎡이상 ~ 100㎡이하,"1,000",2억3천 만,010-3936-3366,[동대문 맘스터치]매출6000만원/안정적인 수익/역세권/최신형모델
1025,721085,패스트푸드,영등포구,200㎡이상,"4,550",10억,010-7488-1560,★매출 전국 탑5위★ 롯데리아 매출 상위1프로 초메인상권 위치
694,716883,디저트,영등포구,200㎡이상,"1,250",1억,010-7488-1560,★실제매장★ 설빙 권리1억 인수기회 월수익 1200만원
518,691109,커피,김포시,50㎡이상 ~ 100㎡이하,"1,100",1억5천5백 만,010-9983-6895,인천【컴포즈커피창업】☎【순수익 1200만원】초보☎고수익☎여자☎
9,720667,퓨전음식,종로구,50㎡이상 ~ 100㎡이하,890,1억8천 만,010-4513-3787,▶ 오피스상권 / 유명맛집 / 풀오토 / 고수익 확실합니다.
135,597981,베이커리,인천,50㎡이상 ~ 100㎡이하,650,1억4천 만,010-2100-1890,[인천 메인]베스킨라빈스 창업비용/순익650만/초보창업여성창업직장인창업
86,715002,베이커리,종로구,50㎡이상 ~ 100㎡이하,650,2억7천 만,010-5904-4959,♥대학로♥베스킨라빈스창업비용♥수익650만♥여자소자본창업/은퇴창업아이템/고수익창업/
1028,720368,패스트푸드,서울,50㎡이상 ~ 100㎡이하,595,1억2천 만,010-6404-8779,●맘스터치●양도양수창업●->초보창업 추천 월수익800만원
739,698802,디저트,서울,50㎡이상 ~ 100㎡이하,505,3천 만,010-5732-6231,★서울지역★이삭토스트★월매출 2200만원★초보창업★여성창업★초년생창업★
314,722664,분식,서울,50㎡이하,900,5천 만,010-4399-3891,배떡
605,720162,커피,중구,50㎡이상 ~ 100㎡이하,"1,200",2억5천 만,010-9974-9114,『서울 중구 써브웨이』 풀오토/월수익 1000↑/수익성/양도양수/초보창업
14,723359,퓨전음식,구로구,50㎡이상 ~ 100㎡이하,700,8천 만,010-3936-3366,[영화관 푸드코드/채선당샤브보트]월매출 3000만/수익성 소자본/초보/여성창업
81,712420,베이커리,인천,100㎡이상 ~ 200㎡이하,"1,130",3억5천 만,010-4061-9473,배스킨라빈스 창업『인천지역』【순익600만】창업비용/오토창업/여성창업/커피창업
531,722954,커피,서울,100㎡이상 ~ 200㎡이하,"1,350",1억7천 만,010-2536-1178,♥종로 ♥【투썸플레이스 카페 창업】【수익1350만원】초보♥고수익♥커피♥
1143,649582,치킨,화성시,50㎡이상 ~ 100㎡이하,"1,710",1억7천 만,010-9991-2210,♥고매출 BHC 창업비용 1억7천 ♥ 월수익 1710만 ♥
921,722653,한식,평택시,50㎡이상 ~ 100㎡이하,"1,020",1억4천5백 만,010-4399-3891,★평택특급 본죽앤비빔밥★수익1천만원★안정성★환급성★진짜 좋아요
1012,721565,패스트푸드,서대문구,50㎡이상 ~ 100㎡이하,"1,100",1억2천 만,010-8883-0218,서대문◆서브웨이창업◆ 여성초보창업／고수익창업／관리형창업／부업창업／직장인투잡

In [ ]:
allData['capital']= allData.capital.str.replace('백 만','00')
allData['capital']= allData.capital.str.replace('천 만','000')

In [ ]:
allData.sample(n=20)

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
1168,721778,치킨,경기,100㎡이상 ~ 200㎡이하,"1,900",2억5000,010-8284-0532,수원 화성 지역 메이저 치킨브랜드 BHC 비에이치씨 매장형치킨집 창업
943,721102,한식,중구,50㎡이상 ~ 100㎡이하,970,1억9000,010-7488-1560,★현장미팅가능★ 인천 본죽 소자본 고수익아이템 초보창업자추천
912,712664,한식,강북구,50㎡이상 ~ 100㎡이하,830,1억5000,010-4061-9473,▒본죽 창업▒『서울 강북』 【순익800만】창업비용/브랜드창업/부부창업/배달창업
454,723016,중식,서울,50㎡이상 ~ 100㎡이하,"2,150",1억7000,010-7759-4586,♥서울중심♥ 홍콩반점 창업비용 1억7천♥ 중국집♥고수익 ♥음식점
120,715770,베이커리,서울,50㎡이상 ~ 100㎡이하,"1,350",2억3000,010-8563-0721,《분당 광교 배스킨라빈스》→♥풀오토♥ 초보 안정성 시니어 창업
701,723445,디저트,중구,50㎡이하,930,2억,010-3936-3366,[서울종로/중구 코코호도] 안정적인 아이템 초보창업 여성/시니어 창업
1155,705506,치킨,경기,100㎡이상 ~ 200㎡이하,"1,900",2억5000,010-8284-0532,수원 화성 지역 메이저 치킨브랜드 BHC 비에이치씨 매장형치킨집 창업
551,712650,커피,김포시,100㎡이상 ~ 200㎡이하,0,8000,010-4061-9473,▒투썸플레이스 창업▒『김포 일산』인기창업/추천창업/여성창업/소자본카페창업
780,722195,고기,경기,100㎡이상 ~ 200㎡이하,"3,070",3억5000,010-4180-9905,▣경기남부▣ 하남돼지【순익 3000만원】【고수익창업】【고깃집창업】
817,722853,고기,경기,50㎡이상 ~ 100㎡이하,"1,380",1억5천500,010-9455-2245,◈경기◈ 도야족발 ◈ 월수익 1300 ◈ 고수익창업 배달창업 부부창업
183,722549,베이커리,수원시,50㎡이상 ~ 100㎡이하,"1,850",3억5000,010-7446-0422,★바로미팅가능★뚜레쥬르★수원시 상위1% 매출최상위권 가장좋은 실제매장
1098,627339,패스트푸드,서울,50㎡이상 ~ 100㎡이하,"1,090",2억9000,010-7333-1029,◈서울◈ 써브웨이 ◈ 월순익 1000 ◈ 초보창업/부부창업/고수익창업
439,721453,중식,구리시,100㎡이상 ~ 200㎡이하,"1,080",2억,010-5763-7718,《구리시》홍콩반점 / 순익 1000만원이상 / 부부창업 /
1209,723116,치킨,관악구,50㎡이상 ~ 100㎡이하,"1,050",1억,010-9991-2210,☎관악 ☎ 노랑통닭 창업비용 1억 ＃월수익 1050만 ＃ 고수익창업
920,661558,한식,서울,50㎡이하,"2,080",2억,010-2100-1890,★죽전문점★오토창업★월순익 2천만원★여성창업★무인창업★소자본창업★배달매장
253,719593,베이커리,서울,50㎡이상 ~ 100㎡이하,"1,800",4억6000,010-4805-9104,□서울 파리바게뜨□ 안정적인 매장 오토운영 고수익 리모델링 완료
607,714307,커피,구로구,200㎡이상,630,3억,010-4513-3787,■ 실매장 투썸플레이스 양도양수 이익되는 매장
672,722573,디저트,인천,50㎡이상 ~ 100㎡이하,"1,000",2억,010-8883-0218,인천메인상권◆샐러디창업◆ 초보창업／고수익／관리형창업／투잡／부업창업／샐러디창업비용
1222,704710,치킨,안양시,50㎡이상 ~ 100㎡이하,"1,100",7천500,010-9174-2754,★고수익소자본★【안양 비에이치씨 BHC치킨창업】【순익1100만】【청년여자직장인부업
517,716296,커피,의정부시,50㎡이상 ~ 100㎡이하,680,1억7000,010-7777-5379,【의정부】 말도 안되는 메가커피 매장입니다


> ✅정규 표현식으로 제멋대로인 가격을 분류


1.   억 단위로 끝난 경우  ex)3억
2.   천 단위로 끝난 경우  ex)2억 3천
3.   백단위로 끝난 경우   ex)1억 3천 5(백)

In [ ]:
allData.loc[allData['capital'].str.contains(r"[0-9]+억$")]

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
26,723428,베이커리,서대문구,50㎡이상 ~ 100㎡이하,"1,000",5억,010-3936-3366,[마포/서대문] 베스킨라빈스 월순익 1000만원/여성창업초보창업투잡안정성
36,720097,베이커리,서울,50㎡이상 ~ 100㎡이하,"1,300",2억,010-7103-8527,★배스킨라빈스★오토운영 월순익1000만 베스킨라빈스창업
38,701675,베이커리,마포구,50㎡이상 ~ 100㎡이하,"1,650",3억,010-4513-3787,▲ 배스킨라빈스 창업 고매출 매장 양도양수 정보
39,720686,베이커리,관악구,50㎡이상 ~ 100㎡이하,"1,900",9억,010-9613-6667,▶서울시◀ 베스킨라빈스 § 초보창업 § 여성창업 § 프랜차이즈창업
41,698806,베이커리,경기,50㎡이상 ~ 100㎡이하,"1,350",4억,010-5732-6231,【경기지역】고매출 배스킨라빈스★월매출 6000만★퇴직창업추천★초보창업추천★
...,...,...,...,...,...,...,...,...
1211,715377,치킨,서울,50㎡이상 ~ 100㎡이하,"1,220",2억,010-6429-4503,☎특급♥보라매역 비어존 bhc치킨♥월순익1200만♥소자본창업/고수익/치킨창업♥
1221,644218,치킨,서울,50㎡이하,"1,840",2억,010-7333-1029,◈서울◈ 푸라닭 PURADAK ◈ 월순익 1800 ◈ 고수익창업 치킨집창업 부부창
1224,672813,치킨,종로구,50㎡이상 ~ 100㎡이하,"1,600",1억,010-2670-3399,★고수익/특급★【종로구역세권 푸라닭치킨창업】【순익1600만↑】【초보프랜차이즈창업】
1225,712421,치킨,성남시,50㎡이상 ~ 100㎡이하,0,3억,010-4061-9473,교촌치킨 창업『분당』【순익1000만】은퇴창업/추천창업/치킨창업비용/맥주창업/술집창
1234,712659,치킨,강서구,50㎡이하,0,1억,010-4061-9473,▒교촌치킨창업▒『인천지역』【순익800만】고수익창업/대기업창업/브랜드창업/창업비용

In [ ]:
index1= allData.loc[allData['capital'].str.contains(r"[0-9]+억$")].index

In [ ]:
df = allData.loc[allData['capital'].str.contains(r"[0-9]+억$")]
df.sample(100)

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
26,723428,베이커리,서대문구,50㎡이상 ~ 100㎡이하,"1,000",5억,010-3936-3366,[마포/서대문] 베스킨라빈스 월순익 1000만원/여성창업초보창업투잡안정성
594,721110,커피,남양주시,200㎡이상,"2,500",5억,010-7488-1560,★ 리버뷰 ★ 서울근교 ★ 이쁜카페 한강과 연결 귀한매장
205,723184,베이커리,인천,50㎡이상 ~ 100㎡이하,630,1억,010-7759-4586,♥인천♥ 뚜레쥬르 창업비용 1억 ＃월수익 630만 ＃ 사장님 오토운영중
430,723104,중식,가평군,200㎡이상,"3,376",12억,010-9613-6667,▶강원도◀ 특급 쿠우쿠우§ 실제매장 § 고수익창업 § 프랜차이즈창업
553,722526,커피,광명시,200㎡이상,"1,500",6억,010-7446-0422,★바로미팅가능★투썸플레이스★경기권 루프탑있는 가장큰 실제매장
...,...,...,...,...,...,...,...,...
447,720122,중식,수원시,100㎡이상 ~ 200㎡이하,"1,460",2억,010-9974-9114,『경기 수원시 특급 홍콩반점』 풀오토/월수익 1000↑/수익성/양도양수/초보창업
562,661621,커피,성남시,50㎡이상 ~ 100㎡이하,800,1억,010-5717-4817,【BEST특급】《분당역세권 메가커피숍창업》순익800만/카페여성여자청년직장인투잡창업
1003,718801,패스트푸드,종로구,50㎡이상 ~ 100㎡이하,"1,545",5억,010-4513-3787,써브웨이 창업 [ 서울 / 역세권 / 대형 평수 / 고(高) 매출 ] 양도양수
88,721096,베이커리,송파구,50㎡이상 ~ 100㎡이하,"1,300",2억,010-7488-1560,★실제매장★ 배스킨라빈스 ★ 송파 ★ 권리2억에 인수가능한 배라
139,718693,베이커리,서대문구,50㎡이상 ~ 100㎡이하,"1,550",3억,010-7446-0422,★이달의추천매장★베스킨라빈스창업 상위1% 서울시에서 가장좋은 매장

[특정 인덱스의 특정 컬럼만 값을 변경하는 방법을 모르겠다 ... </br> 결국 '@억'으로 끝나는 행들을 따로 빼놓고(df) 원데이터(allData)에서 지워버린다음 빼논 데이터프레임(df)을 작업해서 다시 합치는걸로..

In [ ]:
allData.drop(index1, axis=0, inplace=True)

In [ ]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950 entries, 0 to 1233
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             950 non-null    int64
 1   foodtype       950 non-null    object
 2   locate         950 non-null    object
 3   size           950 non-null    object
 4   expectedmoney  950 non-null    object
 5   capital        950 non-null    object
 6   phonenum       950 non-null    object
 7   pcname         950 non-null    object
dtypes: int64(1), object(7)
memory usage: 66.8+ KB

In [ ]:
df['capital']= df.capital.str.replace('억','0000') 
df

<ipython-input-258-5c4ac0db6670>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['capital']= df.capital.str.replace('억','0000')

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
26,723428,베이커리,서대문구,50㎡이상 ~ 100㎡이하,"1,000",50000,010-3936-3366,[마포/서대문] 베스킨라빈스 월순익 1000만원/여성창업초보창업투잡안정성
36,720097,베이커리,서울,50㎡이상 ~ 100㎡이하,"1,300",20000,010-7103-8527,★배스킨라빈스★오토운영 월순익1000만 베스킨라빈스창업
38,701675,베이커리,마포구,50㎡이상 ~ 100㎡이하,"1,650",30000,010-4513-3787,▲ 배스킨라빈스 창업 고매출 매장 양도양수 정보
39,720686,베이커리,관악구,50㎡이상 ~ 100㎡이하,"1,900",90000,010-9613-6667,▶서울시◀ 베스킨라빈스 § 초보창업 § 여성창업 § 프랜차이즈창업
41,698806,베이커리,경기,50㎡이상 ~ 100㎡이하,"1,350",40000,010-5732-6231,【경기지역】고매출 배스킨라빈스★월매출 6000만★퇴직창업추천★초보창업추천★
...,...,...,...,...,...,...,...,...
1211,715377,치킨,서울,50㎡이상 ~ 100㎡이하,"1,220",20000,010-6429-4503,☎특급♥보라매역 비어존 bhc치킨♥월순익1200만♥소자본창업/고수익/치킨창업♥
1221,644218,치킨,서울,50㎡이하,"1,840",20000,010-7333-1029,◈서울◈ 푸라닭 PURADAK ◈ 월순익 1800 ◈ 고수익창업 치킨집창업 부부창
1224,672813,치킨,종로구,50㎡이상 ~ 100㎡이하,"1,600",10000,010-2670-3399,★고수익/특급★【종로구역세권 푸라닭치킨창업】【순익1600만↑】【초보프랜차이즈창업】
1225,712421,치킨,성남시,50㎡이상 ~ 100㎡이하,0,30000,010-4061-9473,교촌치킨 창업『분당』【순익1000만】은퇴창업/추천창업/치킨창업비용/맥주창업/술집창
1234,712659,치킨,강서구,50㎡이하,0,10000,010-4061-9473,▒교촌치킨창업▒『인천지역』【순익800만】고수익창업/대기업창업/브랜드창업/창업비용

In [ ]:
allData['capital']= allData.capital.str.replace('억','') 
allData['capital']= allData.capital.str.replace('천','')

In [ ]:
allData = pd.concat([allData,df])

In [ ]:
allData['expectedmoney']= allData.expectedmoney.str.replace(',','')

In [ ]:
allData[allData['capital'] == ' 0 만' ]

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
519,722940,커피,김포시,100㎡이상 ~ 200㎡이하,1450,0 만,010-2536-1178,특급권리0원★투썸플레이스 ★월매출7천 월순익 1천만 리얼 ☆수익성매장♥대형커피♥
1173,717881,치킨,서울,200㎡이상,0,0 만,010-2007-0204,★★ 매출1억이상 교촌치킨 ★★ 귀한A급 사업체입니다 창업비용 적극 문의바랍니다

In [ ]:
allData.drop([519,1173], axis=0, inplace=True)

In [ ]:
allData = allData.astype({'expectedmoney':'int'})
allData = allData.astype({'capital':'int'})

In [ ]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1234
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1233 non-null   int64
 1   foodtype       1233 non-null   object
 2   locate         1233 non-null   object
 3   size           1233 non-null   object
 4   expectedmoney  1233 non-null   int64
 5   capital        1233 non-null   int64
 6   phonenum       1233 non-null   object
 7   pcname         1233 non-null   object
dtypes: int64(3), object(5)
memory usage: 86.7+ KB

In [ ]:
allData['expectedmoney'] = allData.expectedmoney.replace(0,np.NaN)

In [ ]:
allData.sample(25)

,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
984,717927,패스트푸드,서초구,50㎡이상 ~ 100㎡이하,1550.0,55000,010-3936-3366,[강남/써브웨이]월매출 8000만원 /고수익/초보창업/투잡/여성창업
253,719593,베이커리,서울,50㎡이상 ~ 100㎡이하,1800.0,46000,010-4805-9104,□서울 파리바게뜨□ 안정적인 매장 오토운영 고수익 리모델링 완료
522,710364,커피,서울,100㎡이상 ~ 200㎡이하,NaN,38000,010-2007-0204,★★ 파스쿠찌 양도양수 전문 ★★ #카페양도양수 #파스쿠찌가맹 #파스쿠찌창업
559,675525,커피,의정부시,50㎡이상 ~ 100㎡이하,700.0,14000,010-7777-5379,【의정부】 MEGA COFFEE 메가커피 창업비용 1억 4천 【강 력 추 천】
267,723481,베이커리,남동구,50㎡이상 ~ 100㎡이하,1000.0,38000,010-3936-3366,[인천 파리바게뜨] 월매출 6500만 최신형모델 안정적인 수익 초보/투잡/시
255,722727,베이커리,중구,50㎡이상 ~ 100㎡이하,875.0,20000,010-9983-6895,[삼일빌딩] 종로메인 독점베이커리카페 건물로비 /파리바게트 /뚜레쥬르
240,682690,베이커리,강동구,100㎡이상 ~ 200㎡이하,1350.0,22000,010-2536-1178,『서울 강동구 뚜레쥬르』카페형/양도양수/오토/시설특A/초보창업
282,721789,베이커리,서울,50㎡이하,570.0,13000,010-8284-0532,서울 동부 지역 ◆이삭토스트◆
327,698814,분식,서울,50㎡이상 ~ 100㎡이하,1840.0,27000,010-5732-6231,★서울 동대문엽기떡볶이 창업★고매출 7000만원★고수익 1800만원★높은수익률★
904,722173,한식,서울,50㎡이상 ~ 100㎡이하,1500.0,15000,010-4180-9905,▣영등포/양천/구로▣ 한솥도시락【순익 1500만원】【프랜차이즈】【테이크아웃】
1041,712453,패스트푸드,강남구,50㎡이상 ~ 100㎡이하,NaN,25000,010-4061-9473,▒노브랜드창업▒『강남 서초』순1000만/은퇴창업/추천창업/부부창업/인기창업/
987,722548,패스트푸드,남양주시,50㎡이상 ~ 100㎡이하,900.0,13000,010-7446-0422,★바로미팅가능★이삭토스트★남양주에서 유일한 이삭토스트 양도양수 실제매장
6,682689,퓨전음식,마포구,100㎡이상 ~ 200㎡이하,1110.0,13000,010-2536-1178,【서울 마포구 역전할머니맥주】프랜차이즈/양도양수/고수익/시설특A/초보창업
585,671758,커피,인천,50㎡이상 ~ 100㎡이하,1300.0,20000,010-8883-0218,인천◆메가커피창업◆메가커피창업비용／고수익창업／관리형창업／요즘뜨는창업／여성창업추천
159,651488,베이커리,성남시,50㎡이상 ~ 100㎡이하,1450.0,30000,010-2536-1178,♥강남리뉴얼없는 파리바게트 양도양수♥월매출8천만♥고수익♥여자커피♥
234,691086,베이커리,강남구,100㎡이상 ~ 200㎡이하,1150.0,23000,010-9983-6895,☎프랜차이즈☎【뚜레쥬르베이커리 카페 창업】【수익1200만원】☎창업아이템
710,683934,디저트,경기,50㎡이상 ~ 100㎡이하,750.0,15000,010-7642-0103,♥1등º인기커피추천♥【 공차커피 카페창업 】【수익 750만】초보♥여자♥감성
1058,723246,패스트푸드,서울,200㎡이상,NaN,120000,010-8945-0455,▶인천 롯데리아 ※고수익 ☎패스트푸드창업 ☎고수익창업 ☎햄버거창업
439,721453,중식,구리시,100㎡이상 ~ 200㎡이하,1080.0,20000,010-5763-7718,《구리시》홍콩반점 / 순익 1000만원이상 / 부부창업 /
107,723308,베이커리,서울,100㎡이상 ~ 200㎡이하,1180.0,50000,010-5182-1521,[서대문/중구/용산]독과점으로 안정적인 베스킨라빈스(초보창업 여성창업)
1132,718726,치킨,성북구,50㎡이상 ~ 100㎡이하,880.0,23000,010-5717-4817,★리뉴얼없음/특급★【강북구 교촌치킨창업】【순익900만】【교촌치킨초보프랜차이즈창업】
592,715450,커피,광진구,50㎡이상 ~ 100㎡이하,1150.0,30000,010-6429-4503,☎특급☎【송파/강동 컴포즈커피】 ♥순익1150/대로변코너/오토운영/초보창업/고수익
888,720575,한식,서대문구,50㎡이상 ~ 100㎡이하,770.0,25000,010-4805-9104,■워라밸 좋은 매장을 찾으신다면[본죽 서대문구]주말 쉼/초보창업/주부창업/인기창업
1069,701652,패스트푸드,종로구,50㎡이상 ~ 100㎡이하,1550.0,40000,010-4513-3787,■ 역세권 써브웨이 양도양수 창업 비용 정보
86,715002,베이커리,종로구,50㎡이상 ~ 100㎡이하,650.0,27000,010-5904-4959,♥대학로♥베스킨라빈스창업비용♥수익650만♥여자소자본창업/은퇴창업아이템/고수익창업/

In [ ]:
allData.to_csv("/content/drive/MyDrive/codestates/cp1 dataset/cp1data.csv")

1차 정제 완료 -> 2차 정제: 프자이름(pcname)

In [ ]:
datafilter = allData['pcname'].str.contains("파리바게트")

In [ ]:
pb = allData[datafilter]
pbindex = pb.index

In [ ]:
pbindex

Int64Index([160, 161, 164, 169, 173, 174, 176, 179, 185, 186, 193, 196, 202,
            203, 208, 209, 210, 211, 212, 216, 219, 221, 223, 224, 233, 238,
            245, 247, 248, 249, 252, 257, 261, 268, 272, 273, 159, 171, 184,
            188, 194, 200, 218, 220, 222, 244, 246, 254, 255, 256, 264, 270,
            279, 281, 290],
           dtype='int64')

In [ ]:
allData.drop(pbindex, axis=0, inplace=True)

In [ ]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1178 entries, 0 to 1234
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1178 non-null   int64
 1   foodtype       1178 non-null   object
 2   locate         1178 non-null   object
 3   size           1178 non-null   object
 4   expectedmoney  1079 non-null   float64
 5   capital        1178 non-null   int64
 6   phonenum       1178 non-null   object
 7   pcname         1178 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 82.8+ KB

In [ ]:
pb['pcname']= '파리바게트'

<ipython-input-274-3483a7bbb0bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pb['pcname']= '파리바게트'

In [ ]:
allData = pd.concat([allData,pb])

In [ ]:
datafilter = allData['pcname'].str.contains("홍콩반점")

In [ ]:
hk = allData[datafilter]
hkindex = hk.index

In [ ]:
allData.drop(hkindex, axis=0, inplace=True)

In [ ]:
hk['pcname']= '홍콩반점'

<ipython-input-279-e039fdbab16c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hk['pcname']= '홍콩반점'

In [ ]:
allData = pd.concat([allData,hk])

조잡한 프차 설명을 자르고 프차이름으로만 바꾸는 로직 
```
datafilter = allData['pcname'].str.contains("프차이름")
pc = allData[datafilter]
pcindex = pc.index
allData.drop(pcindex, axis=0, inplace=True)
pc['pcname']= '프차이름'
allData = pd.concat([allData,pc])
```
이 로직을 이용해 여러 유명한 프렌차이즈 음식점 이름을 리스트로 작성해두고 한번에 for문으로 바꾼다

In [ ]:
pclist = ['최고당돈까스','미소야','투썸플레이스','청년다방','엽기떡볶이','배떡','이삭토스트','싸다김밥','바르다김선생','신전떡볶이','고봉민김밥','큐큐면관','홍익돈까스','돈까스클럽','써브웨이','메가커피','빽다방']

for elem in pclist:
    datafilter = allData['pcname'].str.contains(elem)
    pc = allData[datafilter]
    pcindex = pc.index
    allData.drop(pcindex, axis=0, inplace=True)
    pc['pcname']= elem
    allData = pd.concat([allData,pc])

print(allData)

         id foodtype locate             size  expectedmoney  capital  \
0    720665     퓨전음식    종로구   50㎡이상 ~ 100㎡이하          870.0    19000
1    723667     퓨전음식    강서구            50㎡이하         1500.0    13000
2    722968     퓨전음식    강남구            50㎡이하            NaN     8000
3    721022     퓨전음식     경기  100㎡이상 ~ 200㎡이하            NaN    13000
4    721455     퓨전음식    수원시  100㎡이상 ~ 200㎡이하         3270.0    55000
..      ...      ...    ...              ...            ...      ...
575  718558       커피    노원구   50㎡이상 ~ 100㎡이하          650.0    10000
584  716861       커피    마포구   50㎡이상 ~ 100㎡이하         1000.0    30000
585  671758       커피     인천   50㎡이상 ~ 100㎡이하         1300.0    20000
622  721111       커피    강서구   50㎡이상 ~ 100㎡이하         1490.0    30000
636  723171       커피     경기            50㎡이하          850.0    20000

          phonenum                                         pcname
0    010-4513-3787             ▶ 고수익 / 풀오토 / 유명 맛집 / 점심 웨이팅 매장입니다
1    010-4340-7268                 샐러디■강서지역■수익1300만＼오토운영＼실매장＼무료상담
2    010-2536-1178         ♥핫실매장♥신사역이마트도시락 ♥개설가6천만♥월수익1천만이상♥초보창업♥
3    010-4061-9473  롤링파스타창업『강동구』【순익1000만】청년창업/추천창업/여성창업/카페창업/커피창업
4    010-5763-7718               《수원시》롤링파스타 / 순익 2500만원이상 / 고수익창업
..             ...                                            ...
575  010-7185-1033                                           메가커피
584  010-5182-1521                                           메가커피
585  010-8883-0218                                           메가커피
622  010-7488-1560                                           메가커피
636  010-7759-4586                                           메가커피

[1233 rows x 8 columns]

<ipython-input-281-ef3e7ad700b2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc['pcname']= elem

In [ ]:
pclist = ['롤링파스타','파스쿠찌','컴포즈커피','백소정','이디야','셀러디','공차','맘스터치','노브랜드버거','하남돼지집','이차돌','새마을식당','곱분이곱창','인계동껍데기','마왕족발','진1926','대한곱창']

for elem in pclist:
    datafilter = allData['pcname'].str.contains(elem)
    pc = allData[datafilter]
    pcindex = pc.index
    allData.drop(pcindex, axis=0, inplace=True)
    pc['pcname']= elem
    allData = pd.concat([allData,pc])

print(allData)

<ipython-input-282-7a687fa62ca7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc['pcname']= elem

         id foodtype locate             size  expectedmoney  capital  \
0    720665     퓨전음식    종로구   50㎡이상 ~ 100㎡이하          870.0    19000
1    723667     퓨전음식    강서구            50㎡이하         1500.0    13000
2    722968     퓨전음식    강남구            50㎡이하            NaN     8000
6    682689     퓨전음식    마포구  100㎡이상 ~ 200㎡이하         1110.0    13000
7    715814     퓨전음식    강서구            50㎡이하         1500.0    13000
..      ...      ...    ...              ...            ...      ...
809  721587       고기    송파구  100㎡이상 ~ 200㎡이하         2000.0    15000
834  720392       고기   동대문구   50㎡이상 ~ 100㎡이하         1080.0    15000
836  723207       고기     서울   50㎡이상 ~ 100㎡이하         1200.0    15000
839  723088       고기   동대문구   50㎡이상 ~ 100㎡이하         1080.0    15000
843  723008       고기   동대문구   50㎡이상 ~ 100㎡이하         1080.0    15000

          phonenum                                    pcname
0    010-4513-3787        ▶ 고수익 / 풀오토 / 유명 맛집 / 점심 웨이팅 매장입니다
1    010-4340-7268            샐러디■강서지역■수익1300만＼오토운영＼실매장＼무료상담
2    010-2536-1178    ♥핫실매장♥신사역이마트도시락 ♥개설가6천만♥월수익1천만이상♥초보창업♥
6    010-2536-1178  【서울 마포구 역전할머니맥주】프랜차이즈/양도양수/고수익/시설특A/초보창업
7    010-4340-7268            샐러디■강서지역■수익1300만＼오토운영＼실매장＼무료상담
..             ...                                       ...
809  010-8883-0218                                      대한곱창
834  010-9991-2210                                      대한곱창
836  010-7759-4586                                      대한곱창
839  010-7759-4586                                      대한곱창
843  010-7759-4586                                      대한곱창

[1233 rows x 8 columns]

In [ ]:
pclist = ['오봉집','원할머니보쌈','도야족발','가장맛있는족발','족발야시장','본죽','한솥도시락','맘스터치','롯데리아','버거킹','반올림피자','교촌치킨','피자나라치킨공주','BHC','푸라닭','노랑통닭']

for elem in pclist:
    datafilter = allData['pcname'].str.contains(elem)
    pc = allData[datafilter]
    pcindex = pc.index
    allData.drop(pcindex, axis=0, inplace=True)
    pc['pcname']= elem
    allData = pd.concat([allData,pc])

print(allData)

<ipython-input-283-5a9fe4d299f2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc['pcname']= elem

          id foodtype locate             size  expectedmoney  capital  \
0     720665     퓨전음식    종로구   50㎡이상 ~ 100㎡이하          870.0    19000
1     723667     퓨전음식    강서구            50㎡이하         1500.0    13000
2     722968     퓨전음식    강남구            50㎡이하            NaN     8000
6     682689     퓨전음식    마포구  100㎡이상 ~ 200㎡이하         1110.0    13000
7     715814     퓨전음식    강서구            50㎡이하         1500.0    13000
...      ...      ...    ...              ...            ...      ...
1149  698849       치킨     서울  100㎡이상 ~ 200㎡이하         1650.0     8000
1188  723189       치킨    노원구   50㎡이상 ~ 100㎡이하         1200.0     9000
1195  722975       치킨    광명시   50㎡이상 ~ 100㎡이하         1400.0    16000
1231  722977       치킨    구로구   50㎡이상 ~ 100㎡이하         1450.0    17000
1209  723116       치킨    관악구   50㎡이상 ~ 100㎡이하         1050.0    10000

           phonenum                                    pcname
0     010-4513-3787        ▶ 고수익 / 풀오토 / 유명 맛집 / 점심 웨이팅 매장입니다
1     010-4340-7268            샐러디■강서지역■수익1300만＼오토운영＼실매장＼무료상담
2     010-2536-1178    ♥핫실매장♥신사역이마트도시락 ♥개설가6천만♥월수익1천만이상♥초보창업♥
6     010-2536-1178  【서울 마포구 역전할머니맥주】프랜차이즈/양도양수/고수익/시설특A/초보창업
7     010-4340-7268            샐러디■강서지역■수익1300만＼오토운영＼실매장＼무료상담
...             ...                                       ...
1149  010-5732-6231                                      노랑통닭
1188  010-7759-4586                                      노랑통닭
1195  010-6404-8779                                      노랑통닭
1231  010-6404-8779                                      노랑통닭
1209  010-9991-2210                                      노랑통닭

[1233 rows x 8 columns]

In [ ]:
pclist = ['샐러디','역전할머니맥주','채선당','베스킨라빈스','파리바게트','뚜레쥬르','두끼','두찜','최고당돈가스','걸작떡볶이','저스트텐동','역전우동','혜화동돈까스','빽돈가맹','명륜진사갈비','구구족','핵밥','죽이요','F/C족발']

for elem in pclist:
    datafilter = allData['pcname'].str.contains(elem)
    pc = allData[datafilter]
    pcindex = pc.index
    allData.drop(pcindex, axis=0, inplace=True)
    pc['pcname']= elem
    allData = pd.concat([allData,pc])

<ipython-input-284-4b309ce53ee5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc['pcname']= elem

In [ ]:
allData.to_csv("/content/drive/MyDrive/codestates/cp1 dataset/cp1data2.csv")

In [ ]:
finalData = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/cp1datafinal.csv')

In [ ]:
finalData

,column1,id,foodtype,locate,size,expectedmoney,capital,phonenum,pcname
0,820,723583,고기,서울,50㎡이하,1780.0,20000,010-6306-4426,F/C족발
1,2,722968,퓨전음식,강남구,50㎡이하,NaN,8000,010-2536-1178,이마트도시락
2,9,720667,퓨전음식,종로구,50㎡이상 ~ 100㎡이하,890.0,18000,010-4513-3787,NaN
3,10,722103,퓨전음식,영등포구,50㎡이상 ~ 100㎡이하,1550.0,11000,010-4513-3787,NaN
4,11,722222,퓨전음식,김포시,100㎡이상 ~ 200㎡이하,3750.0,42000,010-9974-9114,NaN
...,...,...,...,...,...,...,...,...,...
1224,0,720665,퓨전음식,종로구,50㎡이상 ~ 100㎡이하,870.0,19000,010-4513-3787,NaN
1225,120,715770,베이커리,서울,50㎡이상 ~ 100㎡이하,1350.0,23000,010-8563-0721,베스킨라빈스
1226,278,706858,베이커리,구로구,50㎡이상 ~ 100㎡이하,1050.0,47000,010-4513-3787,파리바게트
1227,811,717883,고기,서울,50㎡이상 ~ 100㎡이하,1300.0,19000,010-4513-3787,NaN
1228,88,721096,베이커리,송파구,50㎡이상 ~ 100㎡이하,1300.0,20000,010-7488-1560,베스킨라빈스

# 두번째 활용데이터 프렌차이즈별 업종 현황

**1.데이터 로드**

In [ ]:
current = pd.read_csv('/content/drive/MyDrive/codestates/cp1 dataset/dashboard.csv', encoding='cp949')

**2.데이터 정제**




1.   프랜차이즈 창업이 주제이므로 비가맹점 열을 모두 삭제한다. 
2.   음식 업종이 아닌 행을 삭제
3.   업종이름 편집
4.   타입 변경

In [ ]:
current

,주요 업종별(1),2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7
0,주요 업종별(1),가맹점,가맹점,가맹점,가맹점,비가맹점,비가맹점,비가맹점,비가맹점
1,주요 업종별(1),사업체수 (개),종사자수 (명),매출액 (백만원),영업비용 (백만원),사업체수 (개),종사자수 (명),매출액 (백만원),영업비용 (백만원)
2,편의점 / 기타 음식료품 종합소매업,46364,190149,22878757,22760872,50826,79724,10516966,10135672
3,문구용품 및 회화용품 소매업,1674,4378,679804,626573,8743,13346,1342352,1241184
4,의약품 및 의료용품 소매업,4072,12873,4281044,3966659,22357,59432,21649987,19793269
5,안경 및 렌즈 소매업,3260,8566,1021605,921684,7010,11612,1216144,1143337
6,한식 음식점업,35349,113788,8939579,8402505,309250,717043,53483548,49836840
7,외국식 음식점업,8300,37068,2745232,2618759,58324,178815,13438180,12898335
8,제과점업,7701,33604,3079086,2909984,17076,42642,2944936,2841947
9,"피자, 햄버거, 샌드위치 및 유사 음식점업",14072,55946,4087331,3732442,9509,38294,3080464,3100410
10,치킨전문점,27303,62502,5421419,4706701,15440,22320,2038927,2129989
11,"김밥, 기타 간이음식점 및 포장 판매점",15812,45411,3038957,2699759,42891,73679,4982146,4727004
12,생맥주 및 기타 주점업,9937,25387,1527710,1351755,79249,114546,6512913,6163019
13,커피 및 기타 비알코올 음료점업,21342,77589,3815097,3397214,87124,164191,8577070,8508251
14,자동차 전문 수리업,5494,24758,2970136,2688754,29167,54281,6177563,5690547
15,두발 미용업,4126,19790,1042899,921711,106384,128670,3968871,3385695
16,가정용 세탁업,4720,7013,424164,365406,28195,39940,863051,661994

In [ ]:
Ncurrent = current.drop(['2020.4','2020.5','2020.6','2020.7'],axis = 1)

In [ ]:
Ncurrent.rename(columns = {'주요 업종별(1)':'업종별','2020':'사업체수(개)','2020.1':'종사자수(명)','2020.2':'매출액(백만원)','2020.3':'영업비용(백만원)'},inplace=True)

In [ ]:
Ncurrent

                        업종별   사업체수(개)   종사자수(명)   매출액(백만원)   영업비용(백만원)
0                 주요 업종별(1)       가맹점       가맹점        가맹점         가맹점
1                 주요 업종별(1)  사업체수 (개)  종사자수 (명)  매출액 (백만원)  영업비용 (백만원)
2       편의점 / 기타 음식료품 종합소매업     46364    190149   22878757    22760872
3           문구용품 및 회화용품 소매업      1674      4378     679804      626573
4            의약품 및 의료용품 소매업      4072     12873    4281044     3966659
5               안경 및 렌즈 소매업      3260      8566    1021605      921684
6                   한식 음식점업     35349    113788    8939579     8402505
7                  외국식 음식점업      8300     37068    2745232     2618759
8                      제과점업      7701     33604    3079086     2909984
9   피자, 햄버거, 샌드위치 및 유사 음식점업     14072     55946    4087331     3732442
10                    치킨전문점     27303     62502    5421419     4706701
11    김밥, 기타 간이음식점 및 포장 판매점     15812     45411    3038957     2699759
12             생맥주 및 기타 주점업      9937     25387    1527710     1351755
13        커피 및 기타 비알코올 음료점업     21342     77589    3815097     3397214
14               자동차 전문 수리업      5494     24758    2970136     2688754
15                   두발 미용업      4126     19790    1042899      921711
16                  가정용 세탁업      4720      7013     424164      365406

In [ ]:
Ncurrent = Ncurrent.drop(index=[0,1,2,3,4,5,14,15,16], axis=0)

In [ ]:
Ncurrent

                        업종별 사업체수(개) 종사자수(명) 매출액(백만원) 영업비용(백만원)
6                   한식 음식점업   35349  113788  8939579   8402505
7                  외국식 음식점업    8300   37068  2745232   2618759
8                      제과점업    7701   33604  3079086   2909984
9   피자, 햄버거, 샌드위치 및 유사 음식점업   14072   55946  4087331   3732442
10                    치킨전문점   27303   62502  5421419   4706701
11    김밥, 기타 간이음식점 및 포장 판매점   15812   45411  3038957   2699759
12             생맥주 및 기타 주점업    9937   25387  1527710   1351755
13        커피 및 기타 비알코올 음료점업   21342   77589  3815097   3397214

In [ ]:
Ncurrent['업종별'] = ['한식','외국식','제과점업','패스트푸드','치킨전문점','간이음식점','주점업','커피음료업']

In [ ]:
Ncurrent = Ncurrent.reset_index()
Ncurrent = Ncurrent.drop(['index'],axis = 1)

In [ ]:
Ncurrent = Ncurrent.astype({'사업체수(개)':'int','종사자수(명)':'int',	'매출액(백만원)':'int',	'영업비용(백만원)':'int'})

In [ ]:
Ncurrent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   업종별        8 non-null      object
 1   사업체수(개)    8 non-null      int64
 2   종사자수(명)    8 non-null      int64
 3   매출액(백만원)   8 non-null      int64
 4   영업비용(백만원)  8 non-null      int64
dtypes: int64(4), object(1)
memory usage: 448.0+ bytes

In [ ]:
Ncurrent

     업종별  사업체수(개)  종사자수(명)  매출액(백만원)  영업비용(백만원)
0     한식    35349   113788   8939579    8402505
1    외국식     8300    37068   2745232    2618759
2   제과점업     7701    33604   3079086    2909984
3  패스트푸드    14072    55946   4087331    3732442
4  치킨전문점    27303    62502   5421419    4706701
5  간이음식점    15812    45411   3038957    2699759
6    주점업     9937    25387   1527710    1351755
7  커피음료업    21342    77589   3815097    3397214

In [ ]:
Ncurrent.to_csv('/content/drive/MyDrive/codestates/cp1 dataset/Ndash.csv')